service fps_hal.RMX1821 /system/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.RMX1821
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

service ets_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service-rbs
	# "class hal" causes a race condition on some devices due to files created
	# in /data. As a workaround, postpone startup until later in boot once
	# /data is mounted.
	class late_start
	user system
	group system input
	disabled
	
on property:persist.vendor.fingerprint.fp_id=E_520 && property:init.svc.fps_hal=running && property:init.svc.fpexts_hal=running && property:init.svc.fps_hal.RMX1821=running
	stop fps_hal
	stop fpexts_hal
	stop fps_hal.RMX1821
	start ets_hal
