type hal_fingerprint_RMX1821, domain;
hal_client_domain(hal_fingerprint_RMX1821, hal_fingerprint)
hal_server_domain(hal_fingerprint_RMX1821, hal_fingerprint)

type hal_fingerprint_RMX1821_exec, exec_type, file_type;
init_daemon_domain(hal_fingerprint_RMX1821)
