type hal_fingerprint_oppo, domain;
type hal_fingerprint_oppo_exec, exec_type, vendor_file_type, file_type;

# Allow init to set persist.vendor.fingerprint.fp_id to identify fingerprint sensor
set_prop(hal_fingerprint_oppo, oppo_fingerprint_prop)
