type perf_prop, property_type, system_property_type;
vendor_internal_prop(oppo_fingerprint_prop)
system_internal_prop(cabc_prop)
type dirac_prop, property_type;
