import /system/etc/init/init.safailnet.rc
import /system/etc/init/init.oppo.fingerprints.rc
import /system/etc/init/init.ago.rc

on boot
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

    # Set proper ownsership for touch panel related stuff
    chown system system /proc/touchpanel/oppo_tp_limit_enable
    chown system system /proc/touchpanel/oppo_tp_limit_area
    chown system system /proc/touchpanel/oppo_tp_direction
    chown system system /proc/touchpanel/tp_fw_update
    chown system system /proc/touchpanel/double_tap_enable

    # Update touchscreen firmware
    write /proc/touchpanel/tp_fw_update 1

    # Disable edge limit control interface
    write /proc/touchpanel/oppo_tp_limit_enable 0

    # Enable oppo's touchpanel direction
    write /proc/touchpanel/oppo_tp_direction 1

on init
    mount none /vendor/lost+found /vendor/overlay bind

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6771
