import /system/etc/init/init.oppo.fingerprints.rc
import /system/etc/init/init.ago.rc

on boot
    # Set proper ownsership for touch panel related stuff
    chown system system /proc/touchpanel/oppo_tp_limit_enable
    chown system system /proc/touchpanel/oppo_tp_limit_area
    chown system system /proc/touchpanel/oppo_tp_direction
    chown system system /proc/touchpanel/tp_fw_update

    # Update touchscreen firmware
    write /proc/touchpanel/tp_fw_update 1

    # DT2W
    chmod 0660 /proc/touchpanel/double_tap_enable
    chown system system /proc/touchpanel/double_tap_enable

    # Disable edge limit control interface
    write /proc/touchpanel/oppo_tp_limit_enable 0

on init
    mount none /vendor/lost+found /vendor/overlay bind

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6771

# Performance profiles
on property:perf_profile=1
    exec - root -- /system/bin/perf_profile.sh 1

on property:perf_profile=0
    exec - root -- /system/bin/perf_profile.sh 0

on property:sys.boot_completed=1
    chown root root /sys/module/ged/parameters/gx_force_cpu_boost
    chown root root /proc/cpufreq/cpufreq_power_mode
    chown root root /proc/cpufreq/cpufreq_cci_mode
